/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL: 
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(../flags/flags.css);

::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

    position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}

#headerwrap h1,
#headerwrap h2,
#headerwrap h3 {
	color: white;
}

.navbar-brand {
	font-weight: 700;
}

.navbar {
	background-color: white !important;
}

.navbar-default .navbar-brand {
	x-color: #1abc9c;
	color: #606060;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #1abc9c;
	background-color: transparent;
	border-bottom: 2px solid #1abc9c
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li.active > a {
	x-color: #1abc9c;
	x-color: #e0e0e0;
	color: #606060;
}

.navbar-nav > li > a {
	padding-bottom: 5px;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/back2.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 170px;
	text-align:center;
	background-attachment: relative;
	background-position: center 125px;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#headerwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#headerwrap h1,
#headerwrap h2,
#headerwrap h3,
#headerwrap h4 {
	xcolor: black;
	xfont-weight: bold;
}

#social #links {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 40px;
	color: #4a4a4a
}

#social i:hover {
	color: #1abc9c
}

#social h1 {
	text-align: center;
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

/* Gallery */
.gallery {
	margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.gallery img:hover {
	opacity: 0.4;
}

img#gravatar {
	border-radius: 6px;
	border: 1px solid #909090;
}

/*
http://stackoverflow.com/questions/18516317/vertically-align-an-image-inside-a-div-with-responsive-height
*/


.gallery {
    position: relative;
}

.gallery .img-container {
  text-align: center; /* Align center inline elements */
 display: inline-block;
    vertical-align: middle;
    float: none;
}

.flags {
	float: left;
	display: inline-block;
	padding-top: 8px;
	margin-left: 2px;
	padding-right: 4px;
	cursor: pointer;
}

@media (min-width: 1px) {
	body.grf .navband-brand {
		margin-left: 0px !important;
	}
}

.flags a,
.flags img {
	outline: 0;
}

body.grf .lang-ru {
	display: inline;
}

body.grf .lang-en {
	display: none;
}

body.grf .navbar-brand {
	padding-left: 0px;
	margin-left: 0px !important;
}
